#include settings/binning/example.cfg as binning
#include settings/osc/nufitv20.cfg as osc
#include settings/osc/earth.cfg as earth

[pipeline]

# This toy example pipeline will instantiate a `VarBinning` object as the output
# binning (as defined in the imported binning section and assigned below).
# The output is a sequence of `MapSet`s with `MultiDimBinning`s, one per
# selection into which the toy events in `events_file` below are split.
# Every included service (see other examples for details) is required to apply
# its calculations to events.
# No utils.hist service may be included here.
order = data.simple_data_loader, flux.barr_simple, osc.prob3, aeff.aeff

param_selections = nh, earth
name = neutrinos

output_binning = reco_var_binning
output_key = weights, errors

[data.simple_data_loader]

calc_mode = events
apply_mode = events

output_names = nue_cc, numu_cc, nutau_cc, nuebar_cc, numubar_cc, nutaubar_cc, nue_nc, numu_nc, nutau_nc, nuebar_nc, numubar_nc, nutaubar_nc

events_file = events/events__vlvnt__toy_1_to_80GeV_spidx1.0_cz-1_to_1_1e2evts_set0__unjoined__with_fluxes_honda-2015-spl-solmin-aa.hdf5

mc_cuts = (pid >= -3)

data_dict = {
    'true_energy': 'true_energy',
    'true_coszen': 'true_coszen',
    'reco_energy': 'reco_energy',
    'reco_coszen': 'reco_coszen',
    'pid': 'pid',
    'weighted_aeff': 'weighted_aeff',
    'nu_flux_nominal': ['nominal_nue_flux', 'nominal_numu_flux'],
    'nubar_flux_nominal': ['nominal_nuebar_flux', 'nominal_numubar_flux']
    }

[flux.barr_simple]

calc_mode = events
apply_mode = events

param.nu_nubar_ratio = 1.0 +/- 0.1
param.nu_nubar_ratio.fixed = True
param.nu_nubar_ratio.range = nominal + [-3., +3.] * sigma

param.nue_numu_ratio = 1.0 +/- 0.05
param.nue_numu_ratio.fixed = True
param.nue_numu_ratio.range = nominal + [-0.5, +0.5]

param.Barr_uphor_ratio = 0.0 +/- 1.0
param.Barr_uphor_ratio.fixed = True
param.Barr_uphor_ratio.range = nominal + [-3.0, +3.0]

param.Barr_nu_nubar_ratio = 0.0 +/- 1.0
param.Barr_nu_nubar_ratio.fixed = True
param.Barr_nu_nubar_ratio.range = nominal + [-3.0, +3.0]

param.delta_index = 0.0 +/- 0.1
param.delta_index.fixed = False
param.delta_index.range = nominal + [-5, +5] * sigma

[osc.prob3]

calc_mode = calc_grid_coarse
apply_mode = events

param.earth_model = osc/PREM_12layer.dat

param.earth.YeI = ${earth:YeI}
param.earth.YeM = ${earth:YeM}
param.earth.YeO = ${earth:YeO}

param.lead.YeI = 0.398
param.lead.YeM = 0.398
param.lead.YeO = 0.398

param.detector_depth = ${earth:detector_depth}
param.prop_height = ${earth:prop_height}

param.theta12 = ${osc:theta12}
param.theta12.fixed = True

param.nh.theta13 = ${osc:theta13_nh}
param.nh.theta13.fixed = True
param.nh.theta13.range = ${osc:theta13_nh.range}

param.ih.theta13 = ${osc:theta13_ih}
param.ih.theta13.fixed = True
param.ih.theta13.range = ${osc:theta13_ih.range}

param.nh.theta23 = ${osc:theta23_nh}
param.nh.theta23.fixed = False
param.nh.theta23.range = [0, 90] * units.degree
param.nh.theta23.prior = uniform

param.ih.theta23 = ${osc:theta23_ih}
param.ih.theta23.fixed = False
param.ih.theta23.range = [0, 90] * units.degree
param.ih.theta23.prior = uniform

param.nh.deltacp = 0.0 * units.deg
param.nh.deltacp.fixed = True
param.nh.deltacp.range = ${osc:deltacp_nh.range}
param.nh.deltacp.prior = uniform

param.ih.deltacp = 0.0 * units.deg
param.ih.deltacp.fixed = True
param.ih.deltacp.range = ${osc:deltacp_ih.range}
param.ih.deltacp.prior = uniform

param.deltam21 = ${osc:deltam21}
param.deltam21.fixed = True

param.nh.deltam31 = ${osc:deltam31_nh}
param.nh.deltam31.fixed = True
param.nh.deltam31.prior = uniform
param.nh.deltam31.range = [0.001, +0.007] * units.eV**2

param.ih.deltam31 = ${osc:deltam31_ih}
param.ih.deltam31.fixed = True
param.ih.deltam31.prior = uniform
param.ih.deltam31.range = [-0.007, -0.001] * units.eV**2

[aeff.aeff]

calc_mode = events
apply_mode = events

param.livetime = 2.5 * units.common_year

param.aeff_scale = 1.0
param.aeff_scale.fixed = False
param.aeff_scale.prior = uniform
param.aeff_scale.range = [0.,3.] * units.dimensionless

param.nutau_cc_norm = 1.0
param.nutau_cc_norm.fixed = True
param.nutau_cc_norm.range = [0.2, 2.0] * units.dimensionless
param.nutau_cc_norm.prior = uniform

param.nutau_norm = 1.0
param.nutau_norm.fixed = True
param.nutau_norm.range = [-1.0, 8.5] * units.dimensionless
param.nutau_norm.prior = uniform

param.nu_nc_norm = 1.0 +/- 0.2
param.nu_nc_norm.fixed = True
param.nu_nc_norm.range = nominal + [-.5,+.5]
